<div class="internation">
    <div class="business">
        <div class="business_title">业务场景解析</div>
        <div class="business_subhead">为业务接入全球短信服务</div>
        <div class="message">
            <div class="m1"></div>
            <div class="m2"></div>
            <div class="m3"></div>
            <div class="m4"></div>
            <div class="phone"></div>
        </div>
    </div>
    <div class="advantage">
        <div class="global">
            <img src="/sources/static/image/product/internation/global.png?t=1516926812547v1.0.0">
            <p class="advantage_subhead">全球覆盖</p>
            <p class="advantage_content">支持217个国家和地区，1000+运营商网关</p>
        </div>
        <div class="speed">
            <img src="/sources/static/image/product/internation/speed.png?t=1516926812547v1.0.0">
            <p class="advantage_subhead">闪电速度</p>
            <p class="advantage_content">国际短信媲美国内短信发送速度</p>
        </div>
        <div class="channel">
            <img src="/sources/static/image/product/internation/channel.png?t=1516926812547v1.0.0">
            <p class="advantage_subhead">优质通道</p>
            <p class="advantage_content">携手国外运营商，可靠稳定</p>
        </div>
    </div>
</div>