<div class="product-nav">
    <div id="banner_txt" class="banner-txt">
        <div>
            <span>行业短信</span>
            <p>运营商战略合作，三网合一通道稳定速率快</p>
        </div>
    </div>
    <div id="product_menu" class="menu">
        <ul>
            <li class="active"><a href="/view/product/product.html">
                <i></i>
                <span>行业短信</span>
            </a></li>
           <li><a href="/view/product/productVoice.html">
                <i></i>
                <span>语音验证码</span>
           </a></li>
            <li><a href="/view/product/productFlow.html">
                <i></i>
                <span>流量业务</span>
            </a></li>
            <li><a href="/view/product/productColorMsg.html">
                <i></i>
                <span>彩信服务</span>
            </a></li>
            <li><a href="/view/product/productInternationSms.html">
                <i></i>
                <span>国际短信</span>
            </a></li>
        </ul>
    </div>
</div>