* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
}
.support_demo {
  margin: 20px 20px 40px 40px;
}
.support_demo .tabs_nav {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  margin: 0;
  list-style: none;
  list_style: none;
  height: 37px;
  border-bottom: solid 1px #dadada;
}
.support_demo .tabs_nav .tabs_tab {
  display: inline-block;
  height: 100%;
  margin-right: 24px;
  box-sizing: border-box;
  position: relative;
  padding: 8px 20px;
  -webkit-transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  text-decoration: none;
  border-bottom: solid 2px #297fff;
}
.support_demo .code_div {
  margin: 0 10px;
}
.support_demo .code_div .code_view {
  position: relative;
  font-size: 12px;
  display: block;
  margin: 10px 0;
  padding: 0;
  border: 1px solid #ddd;
  border-left-width: 6px;
  background-color: #F2F2F2;
  color: #333;
  font-family: Courier New;
}
.support_demo .code_div .code_view .code_h3 {
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #dddddd;
}
.support_demo .code_div .code_view .code_ol {
  position: relative;
  overflow: auto;
  height: 500px;
}
.support_demo .code_div .code_view .code_ol li {
  position: relative;
  margin-left: 45px;
  line-height: 20px;
  padding: 0 5px;
  border-left: 1px solid #ddd;
  list-style-type: decimal-leading-zero;
  *list-style-type: decimal;
  background-color: #fff;
}
