<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>02</title>
</head>
<body>
    <div class="newcon">
        <p style="text-align:center;">
            <span style="color:#3F3F3F;font-size:15px;line-height:1.75em;">不瞒你说</span>
            <span style="color:#595959;font-size:15px;"></span>
        </p>
        <p style="text-align:center;">
            <span style="font-size:15px;color:#3F3F3F;">未来无线已是行业领先的信息服务商</span>
        </p>
        <p style="text-align:center;">
            <span style="font-size:15px;color:#3F3F3F;">但我们的野心远不止于此</span>
        </p>
        <p>
            <br />
        </p>
        <p style="text-align:center;">
            <span style="font-size:15px;color:#3F3F3F;">接下来</span>
        </p>
        <p style="text-align:center;">
            <span style="font-size:15px;color:#3F3F3F;">尽请期待我们的变化</span>
        </p>
        <p style="text-align:center;">
            <span style="font-size:15px;color:#3F3F3F;">无论是业务量、发送量，还是合作伙伴</span>
        </p>
        <p>
            <br />
        </p>
        <p style="text-align:center;">
            <span style="font-size:15px;color:#3F3F3F;">现在缺一起做事的小伙伴</span>
        </p>
        <p style="text-align:center;">
            <span style="font-size:15px;color:#3F3F3F;">这条推送主要还是想找人</span>
        </p>
        <p style="color:#3E3E3E;">
            <br />
        </p>
        <p style="text-align:center;">
            <span style="color:#C0504D;">福建未来无线信息技术有限公司</span>
        </p>
        <p style="text-align:center;">
            <span style="font-size:19px;color:#C0504D;"><strong>深圳分公司招人啦！</strong></span>
        </p>
        <p style="text-align:center;">
            <span style="font-size:15px;color:#C0504D;">商务经理、商务主管、商务总监</span>
        </p>
        <p style="text-align:center;">
            <span style="color:#C0504D;font-size:17px;"><strong>做不伪装的自己</strong></span>
        </p>
        <p style="text-align:center;">
            <span style="color:#C0504D;font-size:17px;"><strong>我们了解你的价值</strong></span>
        </p>
        <p style="text-align:center;">
            <br />
        </p>
        <p style="text-align:center;">
            <span style="font-size:24px;"><strong><span style="line-height:1.75em;color:#C0504D;"><img class="__bg_gif" src="/sources/static/image/aboutOur/detail/1.gif" width="auto" style="width:auto !important;" /></span></strong></span>
        </p>
        <p style="text-align:center;">
            <span style="line-height:25.6px;color:#FFFFFF;font-size:20px;background-color:#C0504D;">3000万</span>
            <span style="line-height:25.6px;font-size:15px;color:#FFFFFF;background-color:#C0504D;">奖金百万年薪感恩有您<br /></span>
        </p>
        <p style="text-align:center;">
            <span style="line-height:25.6px;font-size:15px;color:#FFFFFF;background-color:#C0504D;">和公司一起创造更大平台</span>
        </p>
        <p style="text-align:center;">
            <br />
        </p>
        <p>
            <span style="font-size:15px;color:#3F3F3F;">2017年，未来无线拿出了3000万元作为员工签单有奖的奖励，这份签单有奖的合作客户名单里，包括互联网、电商、物流、金融等行业在内，将近1000个客户。</span>
        </p>
        <p>
            <br />
        </p>
        <p>
            <span style="font-size:15px;color:#3F3F3F;">只要你在一年内，能够签约下来两个或者三个A类客户，再加走量奖、团队奖，以及个人提成，很容易就达到这个小目标。</span>
        </p>
        <p style="text-align:center;">
            <br />
        </p>
        <p style="text-align:center;">
            <span style="color:#595959;line-height:1.75em;font-size:15px;">你有人脉我有需求<br /></span>
        </p>
        <p style="text-align:center;">
            <span style="color:#595959;font-size:15px;">3000万拿到手软</span>
        </p>
        <p style="text-align:center;">
            <span style="color:#595959;font-size:15px;">爱我你怕了吗？</span>
        </p>
        <p style="text-align:center;">
            <br />
        </p>
        <p style="text-align:center;">
            <span style="font-size:15px;color:#595959;">为扩展业务</span>
        </p>
        <p style="text-align:center;">
            <span style="font-size:15px;color:#595959;">未来无线深圳分公司</span>
        </p>
        <p style="text-align:center;">
            <span style="font-size:15px;color:#595959;">置办好了宽敞明亮的办公室</span>
        </p>
        <p style="text-align:center;">
            <span style="font-size:15px;color:#595959;">就等你来一起干票大的啦</span>
        </p>
        <p style="text-align:center;">
            <span style="font-size:15px;color:#595959;"><img class="__bg_gif" src="/sources/static/image/aboutOur/detail/2.gif" width="auto" style="width:auto !important;" /></span>
        </p>
        <p style="text-align:center;">
            <img src="/sources/static/image/aboutOur/detail/state02/0201.jpg" width="600" height="450" alt="1695091794.jpg">
        </p>
        <p style="text-align:center;">
            <img src="/sources/static/image/aboutOur/detail/state02/0202.jpg" width="600" height="450" alt="800970208.jpg">
        </p>
        <p style="text-align:center;">
            <img src="/sources/static/image/aboutOur/detail/state02/0203.jpg" width="600" height="450" alt="1571111641.jpg">
        </p>
        <p style="text-align:center;">
            <br />
        </p>
        <p style="text-align: center"><img border="0" src="/sources/static/image/aboutOur/detail/3.png?t=1516926812547v1.0.0" height="" width="15" style="width:15px !important;"></p>
        <strong class="135brush">招聘岗位：</strong>
        <p>
            <br />
        </p>
        <p>
            <strong><span style="color:#C0504D;"><span>① &nbsp;</span><span style="line-height:24px;">商务经理（深圳，应届毕业生亦可）</span></span></strong>
            <span style="color:#595959;font-size:15px;line-height:24px;"><br /></span>
        </p>
        <p>
            <span style="color:#595959;font-size:15px;line-height:24px;">岗位职责：</span>
            <span style="color:#595959;font-size:15px;line-height:24px;"><br /></span>
        </p>
        <p>
            <span style="font-size:15px;color:#595959;">
                <span style="line-height:24px;">&nbsp;&nbsp;&nbsp;1、负责客户的开发与关系维护工作，与目标客户建立良好的业务关系，有效灵活的完成销售任务；</span><br />
                <span style="line-height:24px;">&nbsp;&nbsp;&nbsp;2、制定有效合理的销售策略,引导行业客户使用我司产品（短信，流量，话费，大数据等）；</span><br />
                <span style="line-height:24px;">&nbsp;&nbsp;&nbsp;3、独立完成公司签订、执行、维护、续约等事宜；</span><br />
                <span style="line-height:24px;">&nbsp;&nbsp;&nbsp;4、积极完成领导交代的其他工作。</span><br /><br />
            </span>
        </p>
        <p>
        <span style="font-size:15px;color:#595959;">
            <span style="line-height:24px;">岗位要求：</span><br />
            <span style="line-height:24px;">&nbsp;&nbsp;&nbsp;1、大专以上学历，热爱销售工作。（实习生或应届毕业生均可）</span><br />
            <span style="line-height:24px;">&nbsp;&nbsp;&nbsp;2、品行端正，有良好的职业道德，富有工作激情和积极的工作态度；</span><br />
            <span style="line-height:24px;">&nbsp;&nbsp;&nbsp;3、具备学习、沟通拓展能力，思维清晰，善于自我总结反思，亲和力强，有团队精神。</span><br />
            <span style="line-height:24px;">&nbsp;&nbsp;&nbsp;4、熟悉互联网企业推广策略，有过商务合作工作经验，有良好的客户沟通能力，具备一定的互联网客户资源，能自主与各大互联网企业洽谈商务合作事宜，完成合同签署等具体落地工作者优先；</span></span>
        </p>
        <p>
            <br />
        </p>
        <p>
            <strong><span style="color:#C0504D;">② &nbsp;商务主管（深圳）</span></strong>
        </p>
        <p>
            <span style="font-size:15px;color:#595959;">岗位职责：</span>
        </p>
        <p>
            <span style="font-size:15px;color:#595959;">&nbsp; &nbsp;1、负责大客户的开发与关系维护工作，与目标大客户建立良好的业务关系，挖掘大客户的需求，高效灵活的完成销售任务；</span>
        </p>
        <p>
            <span style="font-size:15px;color:#595959;">&nbsp; &nbsp;2、制定有效合理的销售策略,引导行业客户使用我司产品（短信，流量，话费，大数据）；</span>
        </p>
        <p>
            <span style="font-size:15px;color:#595959;">&nbsp; &nbsp;3、监管并参与销售合同的洽谈和签订、执行落实情况；</span>
        </p>
        <p>
            <span style="font-size:15px;color:#595959;">&nbsp; &nbsp;4、及时了解各地运营商政策及动态，保障公司已有通道的畅通稳定并大力开拓新生通道；</span>
        </p>
        <p>
            <span style="font-size:15px;color:#595959;">&nbsp; &nbsp;5、积极完成领导交代的其他工作。</span>
        </p>
        <p>
            <br />
        </p>
        <p>
            <span style="font-size:15px;color:#595959;">任职资格：</span>
        </p>
        <p>
            <span style="font-size:15px;color:#595959;">&nbsp; &nbsp;1、大专以上学历，热爱销售工作；一年以上工作经验。</span>
        </p>
        <p>
            <span style="font-size:15px;color:#595959;">&nbsp; &nbsp;2、品行端正，有良好的职业道德，富有工作激情和积极的工作态度；</span>
        </p>
        <p>
            <span style="font-size:15px;color:#595959;">&nbsp; &nbsp;3、具备学习、沟通拓展能力，思维清晰，善于自我总结反思，亲和力强，有团队精神。</span>
        </p>
        <p>
            <span style="font-size:15px;color:#595959;">&nbsp; &nbsp;4、熟悉互联网企业推广策略，有过商务合作工作经验，有良好的客户沟通能力，具备一定的互联网客户资源，能自主与各大互联网企业洽谈商务合作事宜，完成合同签署等具体落地工作者优先；</span>
        </p>
        <p>
            <span style="font-size:15px;color:#595959;">&nbsp; &nbsp;5、了解互联网产品设计及客户体验，对客户体验、用户交互有一定的了解和认识。</span>
        </p>
        <p>
            <br />
        </p>
        <p>
            <strong><span style="color:#C0504D;line-height:28px;">③ 商务总监（深圳）</span></strong>
        </p>
        <p>
            <span style="color:#595959;font-size:15px;line-height:inherit;">岗位职责：</span>
        </p>
        <p>
            <span style="font-size:15px;color:#595959;">&nbsp; &nbsp;1、负责优质数据源的拓展，具有政府资源或者多渠道行业客户资源，完成公司和部门下达的业绩目标；&nbsp;</span>
        </p>
        <p>
            <span style="font-size:15px;color:#595959;">&nbsp; &nbsp;2、准确把握客户需求，在部门Leader的指导下组织协调内部资源提供针对性的解决方案；&nbsp;</span>
        </p>
        <p>
            <span style="font-size:15px;color:#595959;">&nbsp; &nbsp;3、洞悉所负责行业客户产品、品牌、用户特征、竞争对手等相关信息并制定营销策略；&nbsp;</span>
        </p>
        <p>
            <span style="font-size:15px;color:#595959;">&nbsp; &nbsp;4、政企高层客户的公关及数据源渠道建立，并利用公司平台完成资源整合；&nbsp;</span>
        </p>
        <p>
            <span style="font-size:15px;color:#595959;">&nbsp; &nbsp;5、领导交代的其他工作。</span>
        </p>
        <p>
            <br />
        </p>
        <p>
            <span style="font-size:15px;color:#595959;">任职资格：</span><strong><span style="color:#C0504D;"></span></strong>
        </p>
        <p>
            <span style="font-size:15px;color:#595959;">&nbsp; &nbsp;1、大专以上学历，三年以上工作经验，金融业最佳。</span>
        </p>
        <p>
            <span style="font-size:15px;color:#595959;">&nbsp; &nbsp;2、有过商务合作工作经验，具备一定的互联网客户资源；</span>
        </p>
        <p>
            <span style="font-size:15px;color:#595959;">&nbsp; &nbsp;3、能自主与各大互联网企业洽谈合作，完成合同签署等具体落地工作者优先；</span>
        </p>
        <p>
            <span style="font-size:15px;color:#595959;">&nbsp; &nbsp;4、制定有效合理的销售策略，引导行业客户使用我司产品（短信，流量，话费，大数据）；</span>
        </p>
        <p>
            <span style="font-size:15px;color:#595959;">&nbsp; &nbsp;5、与目标大客户建立良好的业务关系，挖掘大客户的需求，高效灵活的完成销售任务；</span>
        </p>
        <p>
            <span style="font-size:15px;color:#595959;">&nbsp; &nbsp;6、监管并参与销售合同的洽谈和签订、执行落实情况。</span>
        </p>
        <p>
            <br />
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <span style="font-size:15px;">如果你具备上述能力</span>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
        <span style="font-size:15px;">给我们投简历吧<br />
    </span>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <br />
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <strong><span style="line-height:25.6px;color:#C0504D;font-size:15px;">坐标：深圳</span></strong>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <strong><span style="line-height:25.6px;color:#C0504D;font-size:15px;">地点：</span></strong>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <strong><span style="line-height:25.6px;color:#C0504D;font-size:15px;">深圳市南山科技园科苑路16号东方科技大厦14楼</span></strong>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <br />
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <strong><span style="line-height:25.6px;color:#C0504D;font-size:15px;">招聘邮箱：</span></strong>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <strong><span style="line-height:25.6px;color:#C0504D;font-size:15px;">2880089689@qq.com</span></strong>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <br />
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <strong><span style="line-height:25.6px;color:#C0504D;font-size:15px;">招聘热线：</span></strong>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <strong><span style="line-height:25.6px;color:#C0504D;font-size:15px;">固话：0755-22672971或</span></strong><strong><span style="line-height:25.6px;color:#C0504D;font-size:15px;"></span></strong>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <strong><span style="line-height:25.6px;color:#C0504D;font-size:15px;">徐先生 13599066681</span></strong>
        </p>
        <p>
            <br />
        </p>
        <span style="color:#BE7763;">A</span><span style="color:#BE7763;line-height:1.5;">BOUTCOMPANY</span>
        <p class="135brush" style="font-size:18px;">
            <span style="color:#BE7763;">关于公司</span>
        </p>
        <p style="color:inherit;">
            <br />
        </p>
        <p>
            &nbsp; &nbsp; &nbsp;&nbsp;<span style="font-size:15px;"><span style="color:#FAC08F;">福建未来无线信息技术有限公司是全国领先的移动信息和数据服务专家</span>，成立于2007年，先后整合收购了多家行业短彩及移动增值提供商、手机动漫综合服务商，现已成为一家行业领先的专业移动综合应用提供商。并为金融、物流、互联网、医疗、公务服务、娱乐等多个领域机构提供专业的（包括短信、流量应用在内）信息化服务。&nbsp;</span>
        </p>
        <p>
            <br />
        </p>
        <p>
            <span style="font-size:15px;">&nbsp; &nbsp; &nbsp; 未来无线公司总部设于福州，目前设有广州、深圳、上海、北京分公司。随着公司的不断壮大发展，现深圳分公司期盼大量优秀人才的加入，并将为这些优秀人才的发展提供广阔空间。</span>
        </p>
        <p style="text-align:center;">
            <br />
        </p>
    </div>
</body>
</html>