<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>06</title>
</head>
<body>
    <div class="newcon">
        <p style="color:#3E3E3E;text-align:center;">
            <span style="color:#3F3F3F;font-size:15px;">春风十里，不如投个简历！</span>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <span style="color:#3F3F3F;font-size:15px;">招聘信息已爆满人间仙界</span>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <span style="color:#3F3F3F;font-size:15px;">向钱看？还是向厚看？</span>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <span style="color:#3F3F3F;font-size:15px;"><img class="__bg_gif" width="40%" src="/sources/static/image/aboutOur/detail/state06/1.gif" style="width:268px !important;" />&nbsp;</span>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <span style="color:#3F3F3F;font-size:15px;line-height:1.5;">为助力各位仙友纵横四海八荒</span>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <span style="color:#3F3F3F;font-size:15px;">收获十里桃林</span>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <span style="color:#3F3F3F;font-size:15px;">本仙已使出洪荒之力渡于你</span>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <span style="color:#3F3F3F;font-size:15px;">请诸位仙友留步</span>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <span style="color:#3F3F3F;font-size:15px;">带好元神，骑上毕方鸟朝下望</span>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <br />
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <span style="color:#3F3F3F;font-size:15px;">三生三世茫茫，与其徘徊痴狂，</span>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <span style="color:#3F3F3F;font-size:15px;">不如把握当下，早早入列仙班。</span>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <span style="color:#3F3F3F;font-size:15px;">比夜华还牛的，下届天君就是你啦！</span>
        </p>
        <p style="color:#3E3E3E;">
            <br />
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <span style="color:#3F3F3F;font-size:15px;">福建未来无线信息技术有限公司现有以下仙职</span>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <span style="color:#3F3F3F;font-size:15px;">诚邀四海八荒各路仙友前来历劫！</span>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <br />
        </p>
        <span style="color:#FDEADA;"><div style="text-align:center;"><strong><span style="font-size:15px;color:#E53333;">客服小仙（对接客户）</span></strong></div></span>
        <p style="color:#3E3E3E;text-align:center;">
            <strong><span style="font-size:15px;line-height:1.75em;color:#C0504D;">✪ 司 掌：</span></strong><span style="color:#3F3F3F;font-size:15px;line-height:1.75em;">打怪升级</span><span style="color:#3F3F3F;font-size:15px;"></span>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <span style="color:#3F3F3F;font-size:15px;line-height:1.75em;"><span style="line-height:1.75em;color:#C0504D;">✪ &nbsp;修仙地：</span><span style="line-height:1.75em;">福州</span>&nbsp;</span>
        </p>
        <p style="color:#3E3E3E;">
            <span style="color:#C0504D;"><strong><span style="font-size:15px;">✪&nbsp;职 责：</span></strong></span>
        </p>
        <p style="color:#3E3E3E;">
            <span style="color:#3F3F3F;font-size:15px;line-height:1.75em;">一路打怪升级，吸收四海八荒之灵气，帮客户解忧排难，渡其于水火，达到天人合一的境界。不卑不亢，披荆斩棘，此中修行的苦与甜自有滋味在其中。</span>
        </p>
        <p style="color:#3E3E3E;">
            <br />
        </p>
        <p style="color:#3E3E3E;">
            <span style="color:#C0504D;"><strong><span style="font-size:15px;">✪&nbsp;仙位要求：</span></strong></span>
        </p>
        <ul class=" list-paddingleft-2" style="color:#3E3E3E;">
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">针对客户提交的信息，进行审核；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">熟练操作公司的平台，准确迅速的完成指令和任务；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">面对客户问询，耐心沟通，完成上级下达的相关任务；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">熟练办公软件操作，特别是Excel的操作技巧；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">有无线增值业务或互联网领域具备产品，或客户服务经验者优先。</span>
                </p>
            </li>
        </ul>
        <p>
            <br />
        </p>
        <span style="color:#FDEADA;"><div style="text-align:center;"><strong><span style="font-size:15px;color:#E53333;">客服小仙（对接运营商）</span></strong></div></span>
        <p style="color:#3E3E3E;text-align:center;">
            <strong><span style="font-size:15px;line-height:1.75em;color:#C0504D;">✪ 司 掌：</span></strong><span style="color:#3F3F3F;font-size:15px;line-height:1.75em;">打怪升级&nbsp;</span>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <span style="font-size:15px;line-height:1.75em;color:#C0504D;">✪ &nbsp;修仙地：</span><span style="color:#3F3F3F;font-size:15px;line-height:1.75em;">福州</span><span style="color:#3F3F3F;font-size:15px;"></span>
        </p>
        <p style="color:#3E3E3E;">
            <span style="color:#C0504D;"><strong><span style="font-size:15px;">✪&nbsp;职 责：</span></strong></span>
        </p>
        <p style="color:#3E3E3E;">
            <span style="color:#3F3F3F;font-size:15px;">凡遇客户、运营商请问疑难，皆不吝教诲。观混沌、视清浊、化凶为吉，救渡众生。会PS等基本技能，有能力，很神秘。</span>
        </p>
        <p style="color:#3E3E3E;">
            <br />
        </p>
        <p style="color:#3E3E3E;">
            <strong><span style="font-size:15px;color:#C0504D;">✪&nbsp;仙位要求：</span></strong>
        </p>
        <ul class=" list-paddingleft-2" style="color:#3E3E3E;">
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">回答客户咨询问题、运营商投诉处理和申诉；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">客服部通道签名报备审核给运营商；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">资源材料申请和跟踪进度；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">熟练使用办公软件以及PS等修图软件。</span>
                </p>
            </li>
        </ul>
        <p style="color:#3E3E3E;">
            <br />
        </p>
        <span style="color:#FDEADA;"><div style="text-align:center;"><strong><span style="font-size:15px;color:#E53333;">招聘星君（招聘专员/招聘主管）</span></strong></div></span>
        <p style="color:#3E3E3E;text-align:center;">
            <strong><span style="font-size:15px;line-height:1.75em;color:#C0504D;">✪ 司 掌：</span></strong><span style="color:#3F3F3F;font-size:15px;line-height:1.75em;">司命星君</span>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <span style="font-size:15px;line-height:1.75em;color:#C0504D;">✪ &nbsp;修仙地：</span><span style="color:#3F3F3F;font-size:15px;line-height:1.75em;">福州</span><span style="color:#3F3F3F;font-size:15px;"></span>
        </p>
        <p style="color:#3E3E3E;">
            <span style="color:#C0504D;"><strong><span style="font-size:15px;">✪&nbsp;职 责：</span></strong></span>
        </p>
        <p style="color:#3E3E3E;">
            <span style="color:#3F3F3F;font-size:15px;line-height:1.75em;">机巧善变、学识渊博，心性随和的特质，用法术使人悟道点化生仙，点化陈腐以为新，有效率地达成扩充天宫各仙职的目标，是帝君身边的得力助手。</span>
        </p>
        <p style="color:#3E3E3E;">
            <br />
        </p>
        <p style="color:#3E3E3E;">
            <strong><span style="font-size:15px;color:#C0504D;">✪&nbsp;仙位要求：</span></strong>
        </p>
        <ul class=" list-paddingleft-2" style="color:#3E3E3E;">
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">完善企业招聘制度、招聘体系及招聘流程；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">拟定招聘方案，组织实施招聘活动；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">完成简历甄别和招聘测试、面试、筛选、录用等；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">有招聘实务操作，能熟练使用招聘网站；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">建立后备人才选拔方案和人才储备机。</span>
                </p>
            </li>
        </ul>
        <p>
            <br />
        </p>
        <span style="color:#FDEADA;"><div style="text-align:center;"><strong><span style="font-size:15px;color:#E53333;">Java/Hadoop软件开发上神（高级开发工程师）</span></strong></div></span>
        <p style="color:#3E3E3E;text-align:center;">
            <strong><span style="font-size:15px;line-height:1.75em;color:#C0504D;">✪ 司 掌：</span></strong><span style="color:#3F3F3F;font-size:15px;line-height:1.75em;">造化之神</span>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <span style="font-size:15px;line-height:1.75em;color:#C0504D;">✪ &nbsp;修仙地：</span><span style="color:#3F3F3F;font-size:15px;line-height:1.75em;">福州、北京</span><span style="color:#3F3F3F;font-size:15px;"></span>
        </p>
        <p style="color:#3E3E3E;">
            <span style="color:#C0504D;"><strong><span style="font-size:15px;">✪&nbsp;职 责：</span></strong></span>
        </p>
        <p style="color:#3E3E3E;">
            <span style="color:#3F3F3F;font-size:15px;line-height:1.75em;">在漫长难耐的混沌代码中，成为宇宙间唯一的一个“清醒者”，忍受着难以想象的孤独寂寞，只为完成这约定而神秘的使命。上神也需利用Java/Hadoop造化神器的无上灵力，传授给众徒弟修行的法门。</span><span style="color:#3F3F3F;font-size:15px;"></span>
        </p>
        <p style="color:#3E3E3E;">
            <br />
        </p>
        <p style="color:#3E3E3E;">
            <strong><span style="font-size:15px;color:#C0504D;">✪ 仙位要求：</span></strong>
        </p>
        <ul class=" list-paddingleft-2" style="color:#3E3E3E;">
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">有扎实的计算机理论基础, 对数据结构及算法有较强的功底；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">精通Java开发，2年以上java开发经验，对设计模式深刻理解；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">对分布式系统原理有较深的理解，理解数据库和nosql相关理论；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">基于Hadoop 2.0开发mapreduce程序，能解决实际线上生产系统（hadoop，h，zookeeper，redis以及各种生产任务等）的各种问题；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">设计开发自有离线数据计算平台等;</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">维护线上任务的稳定产出；跟踪hadoop社区新动态。</span>
                </p>
            </li>
        </ul>
        <p>
            <br />
        </p>
        <span style="color:#FDEADA;"><div style="text-align:center;"><strong><span style="font-size:15px;color:#E53333;">Java开发上仙（开发工程师）</span></strong></div></span>
        <p style="color:#3E3E3E;text-align:center;">
            <strong><span style="font-size:15px;line-height:1.75em;color:#C0504D;">✪ 司 掌：</span></strong><span style="color:#3F3F3F;font-size:15px;line-height:1.75em;">软件神灵</span>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <span style="font-size:15px;line-height:1.75em;color:#C0504D;">✪ &nbsp;修仙地：</span><span style="color:#3F3F3F;font-size:15px;line-height:1.75em;">福州</span><span style="color:#3F3F3F;font-size:15px;"></span>
        </p>
        <p style="color:#3E3E3E;">
            <span style="color:#C0504D;"><strong><span style="font-size:15px;">✪&nbsp;职 责：</span></strong></span>
        </p>
        <p style="color:#3E3E3E;">
            <span style="color:#3F3F3F;font-size:15px;line-height:1.75em;">左手持J2EE，右手执web，行云布雨，唯软件之开发是命，跳脱肉身的限制，无所不能，助造化之神完成使命。</span>
        </p>
        <p style="color:#3E3E3E;">
            <br />
        </p>
        <p style="color:#3E3E3E;">
            <strong><span style="font-size:15px;color:#C0504D;">✪&nbsp;仙位要求：</span></strong>
        </p>
        <ul class=" list-paddingleft-2" style="color:#3E3E3E;">
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">大专以上学历，计算机相关专业；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">负责流量分销系统主要功能模块需求分析和系统设计、开发、单元测试及交付工作；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">审核下属的代码质量，书写技术文档和制定开发规范；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">熟练使用JAVA、Jsp、Servlet等j2ee相关技术，熟练掌握面向对象思想；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">熟练使用J2EE框架，如struts、spring、hibernate;jsp、js、ajax、prototype、extjs、jquery等web开发技术；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">熟练使用oracle10g及以上版本数据库的设计和应用；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">熟练使用Eclipse或者JBuilder等JAVA开发工具；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">熟练使用tomcat/web logic应用服务器发布项目，熟练掌握脚本语言。</span>
                </p>
            </li>
        </ul>
        <p>
            <br />
        </p>
        <span style="color:#FDEADA;"><div style="text-align:center;"><strong><span style="font-size:15px;color:#E53333;">运维上仙（运维工程师）</span></strong></div></span>
        <p style="color:#3E3E3E;text-align:center;">
            <strong><span style="font-size:15px;line-height:1.75em;color:#C0504D;">✪ 司 掌：</span></strong><span style="color:#3F3F3F;font-size:15px;line-height:1.75em;">护法神灵</span>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <span style="font-size:15px;line-height:1.75em;color:#C0504D;">✪ &nbsp;修仙地：</span><span style="color:#3F3F3F;font-size:15px;line-height:1.75em;">福州</span><span style="color:#3F3F3F;font-size:15px;"></span>
        </p>
        <p style="color:#3E3E3E;">
            <span style="color:#C0504D;"><strong><span style="font-size:15px;">✪&nbsp;职 责：</span></strong></span>
        </p>
        <p style="color:#3E3E3E;">
            <span style="color:#3F3F3F;font-size:15px;">主要是护九重天数据库之周全，既有在冥冥之中保护系统、应用之职，又有日常排查和备份数据之责，祛除邪魅、骚扰和进犯。</span>
        </p>
        <p style="color:#3E3E3E;">
            <br />
        </p>
        <p style="color:#3E3E3E;">
            <strong><span style="font-size:15px;color:#C0504D;">✪&nbsp;仙位要求：</span></strong>
        </p>
        <ul class=" list-paddingleft-2" style="color:#3E3E3E;">
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">计算机或通信等相关专业、有电信行业运维管理经验的优先；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">了解运营商短信接口协议SMPP、SGIP、SMGP，有维护数据、短信经验的优先；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">负责分析排除系统、数据库、网络、应用等故障及错误；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">参与制定及执行安全、备份、统计策略；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">熟悉oracle、MSSQL数据库的基本操作、数据备份及还原技术，熟悉日常查询、管理及相关备份操作。</span>
                </p>
            </li>
        </ul>
        <p>
            <br />
        </p>
        <span style="color:#FDEADA;"><div style="text-align:center;"><strong><span style="font-size:15px;color:#E53333;">商务上神（商务主管）</span></strong></div></span>
        <p style="color:#3E3E3E;text-align:center;">
            <strong><span style="font-size:15px;line-height:1.75em;color:#C0504D;">✪ 司 掌：</span></strong><span style="color:#3F3F3F;font-size:15px;line-height:1.75em;">业绩之神</span>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <span style="font-size:15px;line-height:1.75em;color:#C0504D;">✪ &nbsp;修仙地：</span><span style="color:#3F3F3F;font-size:15px;line-height:1.75em;">深圳、广州、北京</span><span style="color:#3F3F3F;font-size:15px;"></span>
        </p>
        <p style="color:#3E3E3E;">
            <span style="color:#C0504D;"><strong><span style="font-size:15px;">✪&nbsp;职 责：</span></strong></span>
        </p>
        <p style="color:#3E3E3E;">
            <span style="color:#3F3F3F;font-size:15px;line-height:1.75em;">掌管众商务小仙日常行为的功过，监督其职能的得失，持物之权衡。正所谓，能力越大责任越大，是经历难以数清的劫最终逍遥云际？还是被敌人推入诛仙台？你说了算</span>
        </p>
        <p style="color:#3E3E3E;">
            <br />
        </p>
        <p style="color:#3E3E3E;">
            <strong><span style="font-size:15px;color:#C0504D;">✪&nbsp;仙位要求：</span></strong>
        </p>
        <ul class=" list-paddingleft-2" style="color:#3E3E3E;">
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">大专以上学历，三年以上工作经验，金融业最佳。</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">有过商务合作工作经验，具备一定的互联网客户资源；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">能自主与各大互联网企业洽谈合作，完成合同签署等具体落地工作者优先；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">制定有效合理的销售策略，引导行业客户使用我司产品（短信，流量，话费，大数据）；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">与目标大客户建立良好的业务关系，挖掘大客户的需求，高效灵活的完成销售任务；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">监管并参与销售合同的洽谈和签订、执行落实情况。</span>
                </p>
            </li>
        </ul>
        <p>
            <br />
        </p>
        <span style="color:#FDEADA;">
            <div style="text-align:center;">
                <strong><span style="font-size:15px;color:#E53333;">商务小仙（商务助理）</span></strong>
            </div>
        </span>
        <p style="color:#3E3E3E;text-align:center;">
            <strong><span style="font-size:15px;line-height:1.75em;color:#C0504D;">✪ 司 掌：</span></strong><span style="color:#3F3F3F;font-size:15px;line-height:1.75em;">业绩之神</span>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <span style="font-size:15px;line-height:1.75em;color:#C0504D;">✪ &nbsp;修仙地：</span><span style="color:#3F3F3F;font-size:15px;line-height:1.75em;">深圳、广州、北京</span><span style="color:#3F3F3F;font-size:15px;"></span>
        </p>
        <p style="color:#3E3E3E;">
            <span style="color:#C0504D;"><strong><span style="font-size:15px;">✪&nbsp;职 责：</span></strong></span>
        </p>
        <p style="color:#3E3E3E;">
            <span style="color:#3F3F3F;font-size:15px;line-height:1.75em;">协助商务上神搜遍四海八荒商机，拓展开发天地人三才，待灵窍初开，渐具神智之时，便是飞升上神之时。</span><span style="color:#3F3F3F;font-size:15px;"></span>
        </p>
        <p style="color:#3E3E3E;">
            <br />
        </p>
        <p style="color:#3E3E3E;">
            <strong><span style="font-size:15px;color:#C0504D;">✪&nbsp;仙位要求：</span></strong>
        </p>
        <ul class=" list-paddingleft-2" style="color:#3E3E3E;">
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">大专学历，有销售经验为准；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">积极主动联系客户，发掘商机；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">根据分公司经营要求和销售经理的指导，开发指定行业和区域的客户；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">通过区域和行业经营，对新客户销售产品，积累业绩。</span>
                </p>
            </li>
        </ul>
        <p style="color:#3E3E3E;text-align:center;">
            <br />
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <span style="font-size:15px;color:#C0504D;">若你天生仙胎<br />或者美如白浅<br />又或仙如夜华<br />本星君亦非常愿意与你聊聊</span>
        </p>
        <p style="color:#3E3E3E;">
            <br />
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <span style="font-size:15px;color:#C0504D;">众仙职待你元神归位</span>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <span style="font-size:15px;color:#C0504D;">赴此三生三世之约</span>
        </p>
        <p style="color:#3E3E3E;">
            <br />
        </p>
        <p style="font-size:22px;">
            <strong><span style="line-height:inherit;color:#D82821;font-size:16px;">位 列 仙 班 后 待 遇</span></strong>
        </p>
        <ul class=" list-paddingleft-2">
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;line-height:1.75em;">五天7.5小时工作制，为正式员工办理五险一金，人性化考勤制度（月累计迟到60分钟以内不扣款）；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">享有国家法定节假日、年假、婚假、产假、丧假等带薪假期；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">重要节日津贴、生日津贴（200元购物卡），大小节日福利费；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">不定期组织拓展培训、聚餐、旅游等员工活动，更有中秋博饼、企业年会等活动；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">入司满一年，报考驾照，拿证可报销2000元；</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color:#3F3F3F;font-size:15px;">优美的办公环境、办公区内无限量供应零食、饮料、抽纸。</span>
                </p>
            </li>
        </ul>
        <p style="text-align:center;">
            <strong><span style="color:#F79646;font-size:18px;"><br /></span></strong>
        </p>
        <p style="text-align:center;">
            <strong><span style="color:#F79646;font-size:18px;">四海八荒之战神</span></strong>
        </p>
        <p style="text-align:center;">
            <strong><span style="color:#F79646;font-size:18px;">未来无线</span></strong>
        </p>
        <p>
            <br />
        </p>
        <p>
            <span style="font-size:15px;">先来感受下“四海八荒之战神未来无线”的貌美如花：</span>
        </p>
        <p style="text-align:center;">
            <img src="/sources/static/image/aboutOur/detail/state06/0601.jpg" style="width:auto !important;" />
        </p>
        <p style="text-align:center;">
            <img src="/sources/static/image/aboutOur/detail/state06/0602.jpg" style="width:auto !important;" />
        </p>
        <p>
            <br />
        </p>
        <p>
            <span style="font-size:15px;">福建未来无线信息技术有限公司是全国领先的移动信息和数据服务专家，致力于推动中国信息化事业腾飞。</span>
        </p>
        <p>
            <br />
        </p>
        <p>
            <span style="font-size:15px;">公司专业从事移动互联网技术开发和信息服务，长期致力于移动数据行业应用领域信息平台搭建、IT系统建设、数据安全建设，集产品研发、技术创新信息服务为一体，为金融、物流、互联网、医疗、娱乐等多个领域机构提供专业的包括短信、流量应用在内的信息化服务。</span>
        </p>
        <p>
            <br />
        </p>
        <p>
            <strong><span style="font-size:15px;color:#F79646;">天宫方位：</span></strong><span style="font-size:15px;">福州市晋安区东二环泰禾广场新天地写字楼8#15层</span>
        </p>
        <p>
            <span style="color:#F79646;"><strong><span style="font-size:15px;">招聘星君：</span></strong></span><span style="font-size:15px;">2880089784@qq.com</span>
        </p>
        <p>
            <span style="font-size:15px;"><br /></span>
        </p>
    </div>
</body>
</html>