<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>04</title>
</head>
<body>
    <div class="newcon">
        <p style="text-align:center;">
            <span style="line-height:inherit;font-size:15px;color:#595959;">八月，烈日炎炎</span>
        </p>
        <p style="text-align:center;">
            <span style="font-size:15px;color:#595959;"><span style="line-height:25.6px;">热情满满的</span><span style="line-height:inherit;">未来无线员工搞了件事情&nbsp;</span></span>
        </p>
        <p style="text-align:center;">
            <strong><span style="font-size:15px;color:#007AAA;">“未来”同行 ，“无线”远航</span></strong>
        </p>
        <p style="text-align:center;">
            <span style="color:#595959;"><span style="font-size:15px;">2017未来无线户外拓展</span><span style="font-size:15px;line-height:1.75em;">！</span></span>
        </p>
        <p>
            <br />
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <span style="color:#595959;"><strong>▼</strong></span>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <span style="color:#595959;"><em><strong>虽不技压全场，但会竭尽全力</strong></em></span>
        </p>
        <p style="font-size:medium;text-align:center;">
            <img src="/sources/static/image/aboutOur/detail/state04/0401.jpg" width="800" height="524" alt="" />
        </p>
        <p style="text-align:center;">
            <img src="/sources/static/image/aboutOur/detail/state04/0402.jpg" width="800" height="600" alt="" />
        </p>
        <p style="text-align:center;">
            <img src="/sources/static/image/aboutOur/detail/state04/0403.jpg" width="800" height="1422" alt="" />
        </p>
        <p style="color:#3E3E3E;">
            <span style="line-height:1.5em;color:#FFFFFF;font-size:14px;background-color:#366092;">&nbsp;我们不高大</span>
        </p>
        <p style="color:#3E3E3E;">
            <span style="line-height:1.5em;color:#FFFFFF;font-size:14px;background-color:#366092;">&nbsp;也没有很好的运动天赋</span>
        </p>
        <p style="color:#3E3E3E;">
            <span style="line-height:1.5em;color:#FFFFFF;font-size:14px;background-color:#366092;">&nbsp;但站在这里，就会竭尽全力</span>
        </p>
        <p>
            <br />
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            ▼
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <span style="color:#595959;"><em><strong>虽炎热辛苦，但会保持微笑</strong></em></span>
        </p>
        <p style="text-align:center;">
            <img src="/sources/static/image/aboutOur/detail/state04/0404.jpg" width="800" height="463" alt="" />
        </p>
        <p style="text-align:center;">
            <img src="/sources/static/image/aboutOur/detail/state04/0405.jpg" width="800" height="463" alt="" />
        </p>
        <p style="text-align:center;">
            <img src="/sources/static/image/aboutOur/detail/state04/0406.jpg" width="800" height="463" alt="" />
        </p>
        <p style="color:#3E3E3E;text-align:right;">
            <span style="line-height:1.5em;color:#FFFFFF;font-size:14px;background-color:#366092;">&nbsp;八月烈日炎炎身体很累</span>
        </p>
        <p style="color:#3E3E3E;text-align:right;">
            <span style="line-height:21px;color:#FFFFFF;font-size:14px;background-color:#366092;">&nbsp;仍旧会不断练习</span>
        </p>
        <p style="color:#3E3E3E;text-align:right;">
            <span style="line-height:1.5em;color:#FFFFFF;font-size:14px;background-color:#366092;">&nbsp;我们的脸上总是带着微笑</span>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <br />
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <em><strong><span style="color:#595959;">▼</span></strong><strong><span style="color:#595959;"></span></strong></em>
        </p>
        <p style="color:#3E3E3E;text-align:center;">
            <em><strong><span style="color:#595959;">因为热爱，所以执着</span></strong><strong><span style="color:#595959;"></span></strong></em>
        </p>
        <p style="font-size:medium;text-align:center;">
            <img src="/sources/static/image/aboutOur/detail/state04/0407.jpg" width="800" height="463" alt="" />
        </p>
        <p style="font-size:medium;text-align:center;">
            <img src="/sources/static/image/aboutOur/detail/state04/0408.jpg" width="800" height="463" alt="" />
        </p>
        <p style="font-size:medium;text-align:center;">
            <img src="/sources/static/image/aboutOur/detail/state04/0409.jpg" width="800" height="463" alt="" />
        </p>
        <p style="color:#3E3E3E;">
            <span style="line-height:1.5em;color:#FFFFFF;font-size:14px;background-color:#366092;">&nbsp;可以失败，但绝不接受未曾努力过的自己&nbsp;</span>
        </p>
        <p style="color:#3E3E3E;">
            <span style="line-height:1.5em;color:#FFFFFF;font-size:14px;background-color:#366092;">&nbsp;因为热爱，&nbsp;</span>
        </p>
        <p style="color:#3E3E3E;">
            <span style="line-height:1.5em;color:#FFFFFF;font-size:14px;background-color:#366092;">&nbsp;所以执着！&nbsp;</span>
        </p>
        <p>
            <br />
        </p>
        <p style="text-align:center;">
            <span style="line-height:24px;color:#595959;font-size:15px;">大家都来自不同的岗位</span>
        </p>
        <p style="text-align:center;">
        <span style="color:#595959;font-size:15px;"><span style="line-height:24px;">客服、技术、运营、后勤……</span><br />
    <span style="line-height:24px;">不同职位不同的工作内容</span><br />
    <span style="line-height:24px;">敲代码、开发测试、商务对接、客户沟通、服务器运维……</span></span>
        </p>
        <p style="text-align:center;">
            <br />
        </p>
        <p style="text-align:center;">
            <span style="color:#595959;font-size:15px;">在拓展的过程中，与队友协作</span>
        </p>
        <p style="text-align:center;">
            <span style="color:#595959;font-size:15px;">得到的不仅仅是游戏的乐趣</span>
        </p>
        <p style="text-align:center;">
            <span style="color:#595959;font-size:15px;">更能体验突破自我的成就感</span>
        </p>
        <p style="text-align:center;">
            <span style="color:#595959;font-size:15px;">以及团队凝聚在一起的超燃气氛！</span>
        </p>
        <p>
            <br />
        </p>
        <p style="text-align:center;">
            <img src="/sources/static/image/aboutOur/detail/state04/0410.jpg" width="800" height="463" alt="" />
        </p>
        <p style="text-align:center;">
            <br />
        </p>
        <p style="text-align:center;">
            <span style="color:#595959;font-size:15px;">
                <span style="line-height:24px;">因为热情</span><br /><span style="line-height:24px;">让我们集结在一起</span><br />
            </span>
        </p>
        <p style="text-align:center;">
            <span style="line-height:24px;color:#595959;font-size:15px;">这才是我们最激情的模样！</span>
        </p>
        <p style="text-align:center;">
            <br />
        </p>
    </div>
</body>
</html>