<nav id="navMenu" class="navBar">
    <div class="nav_logo">
        <img src="/sources/static/image/logo.png?t=1516926812547v1.0.0">
    </div>
    <ul class="nav clearfix">
        <li class="m">
            <h3><a target="_blank" href="#" title="关于我们">关于我们</a></h3>
            <ul class="sub" style="display: none;">
                <li><a href="#" title="公司动态">公司动态</a></li>
                <li><a href="#" title="团队风采">团队风采</a></li>
                <li><a href="#" title="人才招聘">人才招聘</a></li>
                <li><a href="#" title="联系我们">联系我们</a></li>
            </ul>
        </li>
        <li class="m">
            <h3><a target="_blank" href="#">接口文档</a></h3>
        </li>
        <li class="m">
            <h3><a target="_blank" href="#">产品</a></h3>
            <ul class="sub" style="display: none;">
                <li><a href="#" title="语音验证">语音验证</a></li>
                <li><a href="#" title="流量业务">流量业务</a></li>
                <li><a href="#" title="精准营销">精准营销</a></li>
                <li><a href="#" title="国际短信">国际短信</a></li>
            </ul>
        </li>
        <li class="m on">
            <h3><a target="_blank" href="#">首页</a></h3>
        </li>
        <li class="block" style="left: -3px;"></li>
    </ul>
    <div class="nav_login">
        <a title="登录">登录</a>
        <button class="nav_login_register_btn">注册</button>
    </div>
</nav>