<div id="nav" class="nav">
    <div class="wrap clearfix">
        <div class="logo"><a href="/index.html"></a></div>
        <div class="btn">
            <div class="login"><a href="#">登录</a></div>
            <div class="reg"><a href="#">注册</a></div>
        </div>
        <div class="menus">
            <ul id="menus" class="menus-cell clearfix">
                <li class="menu">
                    <h3><a href="/index.html">首页</a></h3>
                </li>
                <li class="menu active">
                    <h3><a href="/view/support/supportGuide.html">引导说明</a></h3>
                </li>
                <li class="menu">
                    <h3><a href="/view/support/supportInstruction.html">使用说明</a></h3>
                </li>
                <li class="menu">
                    <h3><a href="/view/support/supportSDK.html">SDK下载</a></h3>
                </li>
                <li class="menu">
                    <h3><a href="/view/support/supportDemo.html">代码示例</a></h3>
                </li>
                <li class="menu">
                    <h3><a href="/view/support/supportReturn.html">返回值说明</a></h3>
                </li>
                <li class="move"></li>
            </ul>
        </div>

    </div>
</div>