.product-nav {
  width: 100%;
  height: 640px;
  padding-top: 1px;
  background: url(/sources/static/image/product/banner.png?t=1519632839011v1.0.0) no-repeat center center;
}
.product-nav .banner-txt {
  width: 973px;
  height: 440px;
  margin-left: 22.19%;
  margin-top: 110px;
}
.product-nav .banner-txt span,
.product-nav .banner-txt p {
  color: #ffffff;
  text-align: left;
  margin-left: 23px;
}
.product-nav .banner-txt span {
  display: inline-block;
  font-size: 45px;
  letter-spacing: 6px;
  margin-top: 137px;
}
.product-nav .banner-txt p {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0;
  margin-top: 40px;
  width: 381px;
  line-height: 1.5;
}
.product-nav .menu {
  width: 100%;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.1);
}
.product-nav .menu ul {
  width: 1030px;
  height: 100%;
  margin: 0 auto;
}
.product-nav .menu ul li {
  width: 204.8px;
  height: 90px;
  border-left: 1px solid rgba(236, 242, 247, 0.1);
  float: left;
  z-index: 99;
}
.product-nav .menu ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.product-nav .menu ul li i,
.product-nav .menu ul li span {
  display: inline-block;
}
.product-nav .menu ul li i {
  width: 42px;
  height: 42px;
  margin-left: 34px;
  margin-top: 24px;
}
.product-nav .menu ul li span {
  font-size: 16px;
  color: #fff;
  margin-left: 20px;
  line-height: 90px;
  position: relative;
  top: -14px;
}
.product-nav .menu ul li.active,
.product-nav .menu ul li:hover {
  background-color: #297fff;
  border-radius: 1px;
}
.product-nav .menu ul li:nth-child(1) i {
  background: url(/sources/static/image/product/sms.png?t=1519632839011v1.0.0) no-repeat center center;
}
.product-nav .menu ul li:nth-child(2) i {
  background: url(/sources/static/image/product/voice.png?t=1519632839011v1.0.0) no-repeat center center;
}
.product-nav .menu ul li:nth-child(3) i {
  background: url(/sources/static/image/product/flow.png?t=1519632839011v1.0.0) no-repeat center center;
}
.product-nav .menu ul li:nth-child(4) i {
  background: url(/sources/static/image/product/colorMsg.png?t=1519632839011v1.0.0) no-repeat center center;
}
.product-nav .menu ul li:nth-child(5) {
  border-right: 1px solid rgba(236, 242, 247, 0.1);
}
.product-nav .menu ul li:nth-child(5) i {
  background: url(/sources/static/image/product/internation-sms.png?t=1519632839011v1.0.0) no-repeat center center;
}
