<div class="footer">
    <div class="container">
        <div class="info">
            <div class="right">

                <div class="scan">
                    <p>
                        <!--<img src="../../sources/static/image/scan.png" align="middle" class="icon" alt="scan">-->
                        扫码关注官方微信 </p>&nbsp;
                </div>
                 <img src="/sources/static/image/erweima.png?t=1519632839011v1.0.0" alt="公司官方微信" class="wechat">



            </div>
            <div class="left">
                <div class="phone">
                    <p>
                        <img src="/sources/static/image/pho.png?t=1519632839011v1.0.0" align="middle" class="icon" alt="phone">
                        24小时服务热线 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0591-87111929
                    </p>
                </div>
                <div class="box">
                    <p class="add">
                        <img src="/sources/static/image/loc.png?t=1519632839011v1.0.0" align="middle" class="icon" alt="location">
                        公司联系地址
                    </p>
                    <div class="add_list">
                        <p>公 司 总 部：福建福州晋安区东二环泰禾广场8号楼15层</p>
                        <p>上海分公司：上海市杨浦区国定东路275号8号楼13A01</p>
                        <p>广州分公司：广州市海珠区新港东路1068号中洲中心北塔1310室</p>
                        <p>北京分公司：北京市朝阳区国粹苑A座3105-3109</p>
                        <p>深圳分公司：深圳市南山区科技园东方科技大厦14层</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="CopyRight">
                CopyRight 2013-2016. Inc.ALL Right Reserved 福建未来无线信息技术有限公司
                <a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action;jsessionid=yghXXR8GtqCtJ5t9ZG2b8DyTLstXvsNmWxSZ629RmjTn0SvCDJlG"
                   alt="备案查询" target="_blank">
                    备案:闽ICP备14009195号-2
                </a>
            </div>
            <div class="Right"><span class="icon"><img src="/sources/static/image/ghs.png?t=1519632839011v1.0.0" alt="" width="20px" height="20px"></span><span class="txt">闽公网安备 35010202000529号</span></div>
        </div>
    </div>
</div>